/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.*
/vendor
/node_modules

.DS_Store
= collect*
elect*
er_type*
ers')*

# local/temporary
*.bak.*
*.fixbak*
*.DS_Store
public/.DS_Store
